::placeholder {
    color: black;
    font-size: 1em;
}

.content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1%;
}

.formContainer {
    width: 70%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.formContainer input,
.formContainer textarea {
    font-weight: bold;
    font-size: 1em;
    color: black;
}

.contactForm {
    height: 60%;
    width: 50%;
    display: flex;
    background-color: white;
    border: 1px solid black;
    border-right: none;
}

.contactForm form {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    flex-direction: column;
    padding: 4%;
}

.contactForm h2 {
    font-size: 2em;
    margin: 0 0 3% 0;
}

.inputRow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4%;
}

.inputRow input {
    flex: 1;
    max-width: 49%;
    padding: 2%;
}

.contactForm textarea {
    flex: 1;
    padding: 2%;
    margin-bottom: 2%;
    resize: none;
}

.contactForm input[type="submit"] {
    width: 22%;
    align-content: flex-start;
    padding: 2% 0;
    border: none;
    background-color: #3a3153;
    color: white;
    border-radius: 2em;
    cursor: pointer;
}

.contactBanner {
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 30%;
    background-color: #5f43b2;
    color: white;
    border: 1px solid black;
    border-radius: 2em;
    padding: 3%;
    text-align: left;
}

.contactBanner .bannerHeader h1 {
    margin: 0;
    font-size: 2em;
    font-weight: 400;
}

.bannerContent {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.bannerInfo {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    align-content: center;
}

.bannerInfo h3 {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    margin: 0 0 0 5%;
    align-content: center;
    font-size: 1.5em;
    font-weight: 400;
}

.circle {
    width: 3vw;
    height: 3vw;
    background-color: white;
    border-radius: 100%;
}

.success {
    align-self: flex-end;
    align-content: center;
    font-weight: bolder;
    color: #5f43b2;
}