.content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1%;
    margin-right: 10%;
}

.contactForm {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 80%;
}

.contactForm h2 {
    margin-bottom: 5%;
    font-size: 2em;
}

.contactForm form {
    background-color: white;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 2%;
}

.contactForm form .inputRow {
    display: flex;
    justify-content: space-between;
}

.contactForm form .inputRow input {
    width: 48%;
    height: 120%;
}

.contactForm form input[type="submit"] {
    align-content: flex-start;
    width: 22%;
    padding: 3% 0;
    margin-bottom: 0;
    border: none;
    background-color: #3a3153;
    color: white;
    transition: background-color 0.3s ease;
    border-radius: 2em;
    cursor: pointer;
}

.contactForm form input::placeholder, .contactForm form textarea::placeholder {
    color: black;
}

.inputRow {
    display: flex;
    justify-content: space-between;
}

.inputRow input {
    flex: 1;
    margin-right: 10px;
}

.contactForm form textarea {
    resize: none;
    width: 96%;
    height: 150px;
    margin-top: 10%;
    margin-bottom: 8%;
}

.contactBanner {
    background-color: #5f43b2;
    color: white;
    padding: 2em;
    text-align: left;
    width: 18%;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    margin-left: -24%;
    height: 80%;
    border-radius: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contactBanner h3 {
    position: relative;
    padding-left: 20%;
}

.contactBanner h3:before{
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
}

