/*login.css*/
.content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1em 0 1em;
}

.formContainer {
    height: fit-content;
    width: 25%;
}

.loginForm {
    width: 100%;
    height: fit-content;
    background-color: #3a3153;
    padding: 1.5em;
    border-bottom: 0.15em solid black;
    border-radius: 0.5em 0.5em 0 0;
    box-shadow: 0 0 1em 0 rgba(0,0,0,0.1);
    box-sizing: border-box;
}

.loginForm h2 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 1em;
    color: white;
}

.loginForm label {
    font-weight: bold;
}

.loginForm input[type="text"],
.loginForm input[type="email"],
.loginForm input[type="password"] {
    width: 100%;
    padding: 0.8em;
    margin-bottom: 2em;
    border: 0.1em solid #3a3153;
    border-radius: 0.5em;
    box-sizing: border-box;
}

.loginForm input[type="submit"] {
    width: 100%;
    padding: 0.8em;
    margin-bottom: 0;
    border-radius: 0.5em;
    border: none;
    background-color: #5f43b2;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.loginForm input[type="submit"]:hover {
    background-color: #5b42a8;
}

.loginForm label {
    color: white;
}

.loginForm input.noMargin {
    margin-bottom: 0;
}

.forgotEmail {
    margin-top: 0.5em;
}

.forgotEmail a,
.forgotEmail a:visited {
    text-decoration: none;
    font-weight: bold;
    transition: 0.5s;
    color: white;
}

.forgotEmail a:hover {
    color: #c4c4c4;
}

.signupBox {
    width: 100%;
    height: fit-content;
    background-color: #3a3153;
    padding: 1.5em;
    border-top: 0.15em solid black;
    border-top: none;
    border-radius: 0 0 0.5em 0.5em;
    box-shadow: 0 0 1em 0 rgba(0,0,0,0.1);
    box-sizing: border-box;
}

.signupBox {
    text-align: center;
}

.signupBox p {
    padding: 0;
    margin: 0;
    color: white;
}

.signupBox a,
.signupBox a:visited {
    text-decoration: none;
    font-weight: bold;
    transition: 0.5s;
    color: white;
}

.signupBox a:hover {
    color: #c4c4c4;
}
