/*main.css*/

/*noinspection CssUnknownTarget*/
@font-face {
    font-family: intergralCF;
    src: url("/LBU_TeamProject_2024/fonts/IntegralCF-regular.otf") format("opentype");
    font-weight: normal;
}

/*noinspection CssUnknownTarget*/
@font-face {
    font-family: intergralCF;
    src: url("/LBU_TeamProject_2024/fonts/IntegralCF-bold.otf") format("opentype");
    font-weight: bold;
}

* {
    box-sizing: border-box;
}

html,
body {
    font-family: "intergralCF", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    margin: 0;
    padding: 0;
    height: 100%;
}

.circleBackground {
    position: absolute;
    top: 0;
    right: 0;
    width: 74%;
    height: 65%;
    background-color: #b1aebb;
    border-radius: 0 0 0 100%;
    z-index: -1;
}

.error {
    color: #d02222;
    font-weight: bold;
    margin: 0 0 3% 0;
    height: fit-content;
}

.main {
    width: 100%;
    height: 70%;
}

/*nav*/
nav {
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 2em;
    font-weight: bold;
}

nav *{
    margin: 0;
    padding: 0;
}

.nav-left {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    font-size: 1.5em;
    margin-left: 5%;
    align-content: flex-end;
}

.nav-left a,
.nav-left a:visited {
    text-decoration: none;
    color: #3a3153;
    transition: 0.5s;
}

.nav-left a:hover {
    color: #5f43b2;
}

.nav-right {
    display: flex;
    width: 40%;
    justify-content: flex-end;
}

.nav-right ul {
    list-style: none;
}

.nav-right ul li {
    display: inline-block;
    margin-right: 1vw;
}

.nav-right ul li a,
.nav-right ul li a:visited{
    text-decoration: none;
    transition: 0.5s;
    color: white;
    white-space: nowrap;
}

.nav-right ul li a:hover{
    color: #7c6f9d;
}

.nav-right ul li:last-child{
    display: inline-block;
    margin-right: 2vw;
}

.nav-right ul li:last-child a{
    display: inline-block;
    padding: 3% 6%;
    border-radius: 1em;
    background-color: #3a3153;
    transition: background-color 0.3s ease;
}

.nav-right ul li:last-child a:hover{
    color: white;
    background-color: #3a3153;
}

/*footer*/
.footer-wrap {
    height: 20%;
}

footer {
    position: fixed;
    height: 20%;
    width: 100%;
    background-color: #3a3153;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-left {
    text-align: center;
    font-size: 1.5em;
    width: 20%;
}

.footer-left h3,
.footer-left p {
    margin: 0;
    padding: 0;
}

.footer-left p {
    font-size: 0.5em;
}

.footer-middle {
    width: 40%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.banner-container {
    height: 90%;
    width: 100%;
}

.banner {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #b1aebb;
    padding: 5%;
}

.banner-text {
    font-size: 2em;
    font-weight: bold;
    color: white;
}

.banner-button {
    background-color: #3a3153;
    color: #fff;
    padding: 3% 3.5%;
    border: none;
    border-radius: 1em;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5em;
}

.footer-right {
    width: 20%;
    text-align: center;
}

.footer-right h1 {
    font-size: 5em;
    margin: 0;
}
