/*signup.css*/
.content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1vw 0 1vw;
}

.formContainer {
    height: fit-content;
    width: 25%;
    font-weight: bold;
    color: white;
}

.signupForm {
    width: 100%;
    height: fit-content;
    background-color: #3a3153;
    padding: 1.5vw;
    margin-bottom: 0.5vh;
    border-radius: 1em;
    box-shadow: 0 0 1em 0 rgba(0,0,0,0.1);
    box-sizing: border-box;
}

.signupForm h2 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 1em;
    color: white;
}

.signupForm input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-family: "Epilogue", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 1em;
}

.signupForm input[type="text"],
.signupForm input[type="email"],
.signupForm input[type="password"] {
    width: 100%;
    padding: 0.625vw;
    margin-bottom: 3.5vh;
    border: none;
    border-radius: 1em;
    box-sizing: border-box;
}

.signupForm input[type="submit"] {
    width: 35%;
    padding: 0.7vw 0;
    margin-bottom: 0;
    border-radius: 1em;
    border: none;
    background-color: #5f43b2;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.signupForm input[type="submit"]:hover {
    background-color: #5b42a8;
}

.signupForm input.noMargin {
    margin-bottom: 0;
}

.loginBox {
    width: 100%;
    height: fit-content;
    background-color: #3a3153;
    padding: 1.5vw;
    border-radius: 1em;
    box-shadow: 0 0 1em 0 rgba(0,0,0,0.1);
    box-sizing: border-box;
    text-align: center;
}

.loginBox p {
    padding: 0;
    margin: 0 0 1.4vh 0;
}

.loginBox a,
.loginBox a:visited {
    display: inline-block;
    width: 35%;
    padding: 0.7vw 0;
    border-radius: 1em;
    border: none;
    background-color: #5f43b2;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    box-sizing: border-box;
}

.loginBox a:hover {
    background-color: #5b42a8;
}